<!-- slam_navi_car3.launch -->
<launch>
    <group ns="car3">
        <include file="$(find racebot_gazebo)/launch/teb_base.launch">
            <arg name="robot_name" value="car3"/>
        </include>
        <include file="$(find racebot_gazebo)/launch/slam_gmapping.launch">
            <arg name="robot_name" value="car3"/>
        </include>
    </group>

    <node pkg="rviz" type="rviz" name="rviz_car3"
          args="-d $(find racebot_gazebo)/rviz/nav_car3.rviz"/>

    <arg name="init_wait" default="10"/>
    <node pkg="patrol_pkg" type="demo_navigation3.sh" name="demo_navigation3"
          output="screen"
          launch-prefix="bash -c 'sleep $(arg init_wait); $(find patrol_pkg)/scripts/demo_navigation3.sh'"/>
</launch>
